*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body,
h1,
h2,
p,
ol {
  margin: 0;
}

ol {
  padding: 0;
}

button,
a {
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}
