Options -Indexes
DirectoryIndex index.php

RewriteEngine On

# Vorhandene Dateien und Ordner direkt ausliefern
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Alle anderen Aufrufe intern an index.php geben
RewriteRule ^ index.php [L,QSA]